<%- include('partials/header', {title : "Login", session: session}) %>
<div class="container">
	<section class="w-50 p-4 justify-content-center pb-4">
		<h2>Login</h2>
		<form action="/login" method="post">
			<div class="form-outline mb-4">
				<input name="username" id="username" class="form-control" />
				<label class="form-label" style="margin-left: 0px;" for="username">Benutzername</label>
			</div>
			
			<div class="form-outline mb-4">
				<input name="password" type="password" id="password" class="form-control" />	
				<label class="form-label" for="password">Kennwort</label>
			</div>        
			
			<div class="form-outline mb-4">
				<input type="submit" value="Login">
			</div>
	
		</form>
	</section>
</div>

<%- include('partials/footer') %>